<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="../css/signup.css">
    <style>

    </style>
</head>

<body>

    <div id="header">
        <h3>CHAT NEST</h3>
    </div>

    <div id="signup">
        <h3>SIGN UP</h3>
        <form id="signup-form">
            <input type="text" name="name1" id="name" placeholder="User Name" required>
            <input type="email" name="email" id="email" placeholder="Email" required>
            <input type="tel" name="phone" id="phone" placeholder="Phone Number" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
            <div class="signup-bottom">
                <p>Already a user? <a href="signin.html">login</a></p>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../scripts/signup.js"></script>
</body>

</html>